<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.minnan.rental.domain.mapper.UtilityMapper">

    <!--批量添加-->
    <insert id="insertBatch" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        insert into rental_utility (year, month, house_id, house_name, room_id, room_number, floor, water,
        electricity, status, create_user_id, create_user_name, create_time, update_user_id, update_user_name,
        update_time)
        values
        <foreach collection="utilities" item="utility" separator=",">
            (#{utility.year}, #{utility.month}, #{utility.houseId}, #{utility.houseName}, #{utility.roomId},
            #{utility.roomNumber}, #{utility.floor}, #{utility.water}, #{utility.electricity},#{utility.status},
            #{utility.createUserId}, #{utility.createUserName}, #{utility.createTime}, #{utility.updateUserId},
            #{utility.updateUserName}, #{utility.updateTime})
        </foreach>
    </insert>
</mapper>